* {
	font-size: 16px;
	font-family: MonofurNerdFont;
}

window#waybar {
	background:shade(alpha(@theme_bg_color, 0.5), 1);
	color: #fdf6e3;
	border: 3px solid @theme_bg_color
}

#custom-left-arrow-dark {
	color: @theme_base_color;
	background:shade(alpha(@theme_bg_color, 0.7), 1);
}
#custom-left-arrow-light {
	color:shade(alpha(@theme_bg_color, 0.7), 1);
	background: shade(alpha(@theme_bg_color, 0), 1);
}
#custom-right-arrow-dark {
	color: @theme_base_color;
	background: shade(alpha(@theme_bg_color, 0.7), 1);
}
#custom-right-arrow-light {
	color:shade(alpha(@theme_bg_color, 0.7), 1);
	background: shade(alpha(@theme_bg_color, 0), 1);
}
#workspaces,
#clock,
#custom-weather,
#pulseaudio,
#memory,
#cpu,
#disk,
#cava,
#tray {
	background: @theme_base_color;
}
#custom-power,

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @theme_base_color;
	border: @theme_base_color;
	padding: 0 3px;
}

#window {
	color: @theme_text_color;
}

#clock {
	color: #18c309;
	padding: 0 10px;
}

#custom-weather {
	color: #268bd2;
	padding: 0 10px;
}

#cava {
	color: #bbbb21;
}

#memory {
	color: #b58900;
	padding: 0 10px;
}
#cpu {
	color: #6c71c4;
	padding: 0 10px;
}
#temperature {
	background: @theme_base_color;
	color: #e53550;
	padding: 0 10px;
}
#temperature.critical {
	background: @theme_base_color;
	color :#ff0000;
	padding: 0 10px;
}
#disk {
	color: #2aa198;
	padding: 0 10px;
}
#pulseaudio {
	color: #bbbb21;
	padding: 0 10px;
}
#custom-power {
	color: @theme_text_color;
	background: @theme_base_color;
}
